.bg-theme {
    background: #222e3c;
}

.table-head {
    background: #222e3c !important;
    color: white !important;
}

.size-3rem {
    width: 3rem ;
    height: 3rem;
}

.size-5rem {
    width: 5rem;
    height: 5rem;
}

.size-7rem {
    width: 7rem;
    height: 7rem;
}

.image-size {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resize-none {
    resize: none;
}

.min-width-5 {
    min-width: 5rem;
}